<!-- Favicons -->
<link rel="icon" href="/assets/favicons/favicon.ico" sizes="any">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<meta name="theme-color" content="#0F6EA8">

<!-- Elfsight AI Chatbot | HydroSeal AI Chatbot -->
<script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-8d93a5a4-3fe5-4e4e-a7d5-1856bb997b36" data-elfsight-app-lazy></div>
